.pagination {
   display: flex;
   gap: 5px;
   flex-wrap: wrap;
   padding: 20px 0;

   li a {
      padding: 5px 10px;
      border-radius: 10px;
   }

   :global {
      .selected {
         a {
            border: 2px solid #d85151;
            font-weight: 700;
         }
      }
   }
}